#detail{
		display:flex;
		flex-direction:column;
		background-color: #eaeaea;
		height:100%;
		width:100%;
}

#detail-workarea {
		display:flex;
		flex:5;
		width:100%;
}

#detail-chart{
		width:100%;
		padding:10px;
}
