@media only screen and (max-width:600px) {
		#main-container {
				overflow: auto !important;
				flex-direction: column !important;
		}
		#main-workarea {
				flex-direction: row !important;
		}

#detail-outlet{
		margin:5px;
}

#main-outlet{
		margin:5px;
}
}
