<div id="main">
		<div id="main-header">
				<app-header [title]="headerTitle" > </app-header>
		</div>
		<div id="main-container">
				<div id="main-input">
						<router-outlet></router-outlet>
				</div>
				<div id="main-workarea">
						<div id="detail-outlet">
								<router-outlet name="chart" *ngIf="route === 'DETAIL'"></router-outlet>
						</div>
						<div id="main-outlet">
								<router-outlet name="rates" *ngIf="route === 'MAIN'"></router-outlet>
						</div>
				</div>
		</div>
		<div id="main-footer">
				<app-footer></app-footer>
		</div>
</div>
